body , html{
    padding: 0;
    margin: 0;
    background: cornflowerblue;
}

h1{
    text-align: center;
}
.datos{
    text-align: center;
    padding-top: 40px;
    

}
.a , .b{
    padding: 20px;
}
button{
    width: 100px;
}

p{
    background-color: black;
    color: white;
    
}

/* progrma 1 */

.programa1 {
    background: white;
    padding: 10%;
    text-align: center;
}

.resultado{
    font-size: 30px;
    color: yellow;
}